*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#E41C8ED6,#FFB800);
    

    header{
        // background-color: rebeccapurple;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px;

        .first-card{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 600px;
            // background-color: greenyellow;

            ul{
                list-style: none;
                width: 500px;
                display: flex;
                justify-content: space-between;

                li{
                    color: white;
                    font-family: Open Sans;
                    font-size: 11px;
                    font-weight: 600;
                    line-height: 15px;
                    letter-spacing: -0.065em;
                }
            }
        }
        .second-card{
            width: 200px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // background-color: green;

            .shopping-img{
                margin-right: 40px;
            }
            .three-lines{
                display: flex;
                flex-direction: column;
                .line{
                    margin-top: 3px;
                    width: 25px;
                    height: 3px;
                    background-color: black;
                }
            }
        }
    }
    main{
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .ovals{
            .oval{
                margin-top: 10px;
                width: 9px;
                height: 9px;
                border: 1px solid white;
                border-radius: 100%;
            }
            .oval-div{
                display: flex;
                justify-content: space-between;
                align-items: center;
                // background-color: darkblue;
                width: 30px;

                .oval-1{
                    margin-top: 0;
                    background-color: white;
                }

                .oval-line {
                    width: 25px;
                    height: 1px;
                    background-color: white;
                }
            }
        }
        .card{
            width: 250px;
            display: flex;
            justify-content: space-between;
            .about{
                h1{
                    color: white;
                    font-family: Roboto;
                    font-size: 40px;
                    font-weight: 500;
                    line-height: 47px;
                    letter-spacing: 0em;
                    text-align: left;
                }
                h4{
                    margin-bottom: 10px;
                    color: white;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                }
                p{
                    color: white;
                    width: 160px;
                    font-family: Roboto;
                    font-size: 11px;
                    font-weight: 500;
                    line-height: 13px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-bottom: 10px;
                }
                .btns{
                    display: flex;
                    align-items: center;
                    button{
                        margin-right: 5px;
                        border-radius: 25px;
                        background-color: transparent;
                        color: white;
                        border: 1px solid black;
                        padding: 10px 25px;

                        img{
                            margin-left: 5px;
                        }
                    }
                    div{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                        width: 37px;
                        height: 37px;
                        background-color: transparent;
                        border: 1px solid black;
                        border-radius: 100%;
                    }
                }
            }
            .kross{
                display: flex;
                flex-direction: column;

                .circle{
                    width: 35px;
                    height: 35px;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 15px;
                }
                .circle-1{
                    background-color: #DE343D;
                }
                .circle-2{
                    background-color: white;
                }
                .circle-3{
                    background-color: white;
                }
                .circle-4{
                    background-color: white;
                }
                .circle-5{
                    background-color: white;
                }
                .circle-6{
                    background-color: #3434346B;
                    margin-bottom: 0;
                }
            }
        }
    }
    .black-column-line{
            width: 24px;
            height: 45px;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;

            .liner{
                width: 1px;
                height: 28px;
                background-color: white;
            }
        }
    footer{ 
        display: flex;
        justify-content: center;
        // margin-top: -30px;
        .box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 600px;

            .div-block{
                display: flex;
                // justify-content: space-between;
                flex-direction: column; 
                
                .all{
                    width: 100px;
                    display: flex;
                    justify-content: space-between;
                    .columns{
                        width: 25px;
                        height: 44px;
                        background-color: white;
                    }
                }
                .block-1{
                    display: flex;
                    justify-content: center;
                    h5{
                        font-family: Open Sans;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 22px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: white;
                    }
                }
            }
        }
    }
}